.judul {
  font-family: 'Galada',
    cursive;
  font-size: 50px;
}

.judul2 {
  font-family: 'Galada',
    cursive;
  font-size: 15px;
  font-weight: 800;
}

.paragraph {
  font-family: 'Galada',
    cursive;
  font-family: 'Heebo',
    sans-serif;
  font-size: 20px;
}

.jumbotronx {
  background-image: url(../image/banner2.png);
  height: 650px;
  width: 100%;
  background-size: cover;
  text-align: center;
  position: relative;
}

.jumbotronx .container {
  z-index: 1;
  position: relative;
}

.jumbotronx::after {
  content: '';
  display: block;
  width: 100%;
  height: 80%;
  position: absolute;
  bottom: 0;
}

.header {
  font-family: 'Lobster',
    cursive;
  font-family: 'Poppins',
    sans-serif;
  font-weight: 600;
  font-size: 60px;
  line-height: 70px;
  text-align: left;
}

.atas {
  margin-bottom: 200px;
}

.bg-kartu {
  background-image: linear-gradient(rgb(71, 71, 233), rgb(125, 125, 240));
}